html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Georgia, serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  grid-template-areas:
    "header header"
    "main main";
  background-color: #f2f1ed;
}

img {
  width: 100%;
  display: block;
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
  display: contents;
  display: grid;
  grid-area: header;
  padding: 1rem;
  padding-bottom: 0;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 4em;
  grid-gap: 1rem;
}

.pano {
  grid-column: 1/-1;
  grid-row: 1/-1;
}

.logo {
  grid-column: 1/-1;
  grid-row: 2;
  z-index: 1;
  width: 14rem;
  margin: 0;
  display: flex;
  padding-bottom: 1rem;
}

nav {
  grid-column: 3;
  grid-row: 1;
  margin: 0;
}

nav ul {
  padding: 1rem;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav li {
  display: inline-block;
  font-family: "Patua One", sans-serif;
  margin: 0 .4em;
  font-size: 2rem;
}

nav a {
  color: #fff;
}

main {
  display: flex;
  grid-area: main;
  padding: 1rem;
}

figcaption h2 {
  color: #30658d;
  font-family: "Patua One", sans-serif;
  padding-top: 1rem;
}

figure {
  margin: .5rem;
}

figcaption h2,
p {
  margin: 0;
}
